<ion-header color="dark">
  <ion-navbar>
    <ion-title>Music Library</ion-title>
      <ion-buttons start>
        <button *ngIf="canGoBack()" (click)="goBack()" ion-button icon-only>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <a class="item" full ion-item *ngFor="let musicFile of musicFiles" (click)="goToDir(musicFile, false)">
            <ion-icon *ngIf="musicFile.isAudio && prefs.mostrarImgs" name="flash" item-left></ion-icon>
            <ion-icon *ngIf="musicFile.isDirectory && mostrarImgs" name="folder" item-left></ion-icon>
            {{musicFile.name}}
            <button ion-button icon-only *ngIf="musicFile.isFavorite"(click)="removeFavorite(musicFile)" clear item-right color="dark" >
                 <ion-icon class="icon-star" name="star"></ion-icon>
            </button>
            <button ion-button icon-only *ngIf="!musicFile.isFavorite && musicFile.isAudio" (click)="saveFavorite(musicFile)" clear item-right color="dark" >
                <ion-icon name="star-outline" ></ion-icon>
            </button>
        </a>
    </ion-list>
</ion-content>

<ion-footer>

  <ion-toolbar color="light" *ngIf="media?.isPlayingNow()" >
    <ion-row class="player-toolbar">
          <ion-col>
            <button ion-button icon-only clear color="dark" (click)="media?.previous()"><ion-icon name="skip-backward"></ion-icon></button>
          </ion-col>
          <ion-col>
              <button ion-button icon-only color="dark" *ngIf="media?.isPlaying" (click)="media.pause()" clear ><ion-icon name="pause"></ion-icon></button>
            <button ion-button icon-only color="dark" *ngIf="media?.isPaused" (click)="media.play()" clear ><ion-icon name="play"></ion-icon></button>
          </ion-col>
          <ion-col>
            <button ion-button icon-only color="dark" (click)="media?.next()" clear><ion-icon name="skip-forward"></ion-icon></button>
          </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>